@media (min-width: 586px) and (max-width: 767.98px) {
    .deal img {
    width: 70% !important;
    margin-left: 80px !important;
    margin-bottom: 73px !important;
    margin-top: 10px !important;
}
}
@media (min-width: 356px) and (max-width: 585px) {
    .deal img {
    width: 70% !important;
    margin-left: 50px !important;
    margin-bottom: 73px !important;
    margin-top: 10px !important;

}

}|
@media (max-width: 575.98px) {
	.nivoSlider {
    position: relative;
    margin-left: 0;
    width: 100%;
    height: auto;
}

.slider-section, .on-focus-slider {
    margin-bottom: 0 !important;
}


}
}
@media (min-width: 575.98px) and (max-width: 767.98px) { 
	.nivoSlider {
    position: relative;
    margin-left: 0;
    width: 100%;
    height: auto;
}
}
.slider-section, .on-focus-slider {
    margin-bottom: 0 !important;
}
}
@media (min-width: 767px) and (max-width: 991.98px) {
.slider-section, .on-focus-slider {
    margin-bottom: 0 !important;
}

}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.nivoSlider {
    position: relative;
    margin-left: 15px;
    width: 100%;
    height: 400px;
}
img.ctrl_0{
height: 200px;
padding-left: 15px;
}
img.ctrl_1{
height: 200px;
padding-left: 15px;
}
}
@media (min-width: 1200px){
	.nivoSlider {
    position: relative;
    margin-left: 15px;
    width: 100%;
    height: auto;
}
img.ctrl_0{
height: 250px;
padding-left: 15px;
}
img.ctrl_1{
height: 250px;
padding-left: 15px;
}
}


/*===================end=================*/